### The questions for the exercises are given above the cells and the expected output is given below the cell. Please type the code inserting a new cell below the question because if you run the expected output cell the output would vanish! Happy learning!

## Exercise Question 1: Given a list1 copy the list1 to another list2 and remove the element at index 6 and add it to the 2nd position and also, at the end of the list2, finally remove the last element from list 1

In [2]:
lst1= [34, 54, 67, 89, 11, 43, 94]
print("Original list",lst1)
lst2=lst1.copy()
a=lst2.pop(6)
print("List After removing element at index 6 ",lst2)
lst2.insert(2,a)
print("List after Adding element at index 2 ",lst2)
lst2.append(a)
print("List after Adding element at last ",lst2)
lst1.pop()
print("Removing last element from the original list ",lst1)

Original list [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 6  [34, 54, 67, 89, 11, 43]
List after Adding element at index 2  [34, 54, 94, 67, 89, 11, 43]
List after Adding element at last  [34, 54, 94, 67, 89, 11, 43, 94]
Removing last element from the original list  [34, 54, 67, 89, 11, 43]

Original list  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]
Removing last element from the original list  [34, 54, 67, 89, 11, 43]

## Exercise Question 2: Given a two list of equal size create a list of unique elements from both the lists into a seperate list

In [1]:
lst1=[2, 3, 4, 5, 6, 7, 8]
print("First List ",lst1)
lst2=[4, 9, 16, 25, 36, 49, 64]
print("Second List ",lst2)
print(set(lst1+lst2))
#[64, 2, 3, 4, 5, 6, 7, 8, 9, 36, 16, 49, 25]

First List  [2, 3, 4, 5, 6, 7, 8]
Second List  [4, 9, 16, 25, 36, 49, 64]
{64, 2, 3, 4, 5, 6, 7, 8, 9, 36, 16, 49, 25}

First List  [2, 3, 4, 5, 6, 7, 8]
Second List  [4, 9, 16, 25, 36, 49, 64]
[64, 2, 3, 4, 5, 6, 7, 8, 9, 36, 16, 49, 25]

## Exercise Question 3: Remove duplicate from a list and create a tuple and find the minimum and maximum number (Hint: Try Functions Min() and Max() )

In [3]:
lst=[87, 52, 44, 53, 54, 87, 52, 53]
print("Original list ",lst)
tup=set(lst)
print("unique list ",tup)
print("tuple",tuple(tup))
print("Minimum number is: ",min(tup))
print("Maximum number is: ",max(tup))

Original list  [87, 52, 44, 53, 54, 87, 52, 53]
unique list  {44, 52, 53, 54, 87}
tuple (44, 52, 53, 54, 87)
Minimum number is:  44
Maximum number is:  87

Original list [87, 52, 44, 53, 54, 87, 52, 53]
unique list [44, 52, 53, 54, 87]
tuple  (44, 52, 53, 54, 87)
Minimum number is:  44
Maximum number is:  87

## Exercise Question 4: Display the each word in the string Count the number of words in a string and display it (Including the white spaces)

In [19]:
#Printing each words seperately 
a = "what's up?"
print(*a)

w h a t ' s   u p ?

In [4]:
str= "Welcome to Python"
print("The sample string:",str)
print("Printing each words seperately: ",*str)
print("The Length of the string",len(str))

The sample string: Welcome to Python
Printing each words seperately:  W e l c o m e   t o   P y t h o n
The Length of the string 17

The sample string: Welcome to Python
Printing each words seperately:  W e l c o m e   t o   P y t h o n
The Length of the string 17

##  Exercise Question 5: Write a Python program to access dictionary keys element by index. i.e. Use indexing methods to print the first key

In [5]:
dct= {'physics': 80, 'math': 90, 'chemistry': 86}
print("The dictionary is: ",dct)
print("The key element accesed by index:",list(dct)[0])

The dictionary is:  {'physics': 80, 'math': 90, 'chemistry': 86}
The key element accesed by index: physics

The dictionary is:  {'physics': 80, 'math': 90, 'chemistry': 86}
The key element accesed by index:  physics